.reffere {
    width: 220px;
}

.reffere > h1 {
    font-size: 56px;
    color: white;
}

.reffere > button {
    width: 220px;
    height: 48px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    border-radius: 8px;
    outline: none ;
}